# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/

# Ignore data and large files
backend/ml/model/make_db/chromadb/
*.bin
*.sqlite3
*.parquet
*.npy
*.npz
*.pt
*.h5
*.pkl

# Ignore processed data
backend/ml/data/processed/
